
<div *ngIf="product" class="product">
  <div class="product__field">
    <div class="field-label">Name:</div>
    <div class="field-value">{{ product.name }}</div> 
  </div>
  <div class="product__field">
    <div class="field-label">Price:</div>
    <div class="field-value">{{ product.price | currencyConvert: 'USD' | currency }}</div> 
  </div>
  <div class="product__field">
    <div class="field-label">Quantity:</div>
    <div class="field-value">{{ product.quantity }}</div> 
  </div>
  <div class="product__field">
    <div class="field-label">Limited Product:</div>
    <div class="field-value">{{ product.isLimited }}</div> 
  </div>
</div>
