.products {
  margin: 2rem 0.5rem;

  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: larger;

    button {
      margin: 0.1rem;
    }
  }
}

.product {
  margin: 1rem 0;
  display: flex;
  padding: 0.7rem;
  border: 1px solid grey;

  &__left {
    margin-right: 1rem;
    font-size: large;
  }
}

.add-product-wrap {
  margin: 0.5rem;
  text-align: center;

  .add-product {
    &__button {
      padding: 0.5rem;
      font-size: medium;
      border-radius: revert;
    }
  }
}

.details-button {
  padding: 0.1rem;
  border-radius: revert;
}

// :host ::ng-deep .p-accordion-header-link {
//   padding: 0 !important;
// }