.products {
  margin: 1rem 0.5rem;
}

.product {
  margin: 1rem 0;
  display: flex;

  &__left {
    margin-right: 1rem;
    font-size: large;
  }
}

.add-product-wrap {
  margin: 0.5rem;

  .add-product {
    &__button {
      padding: 0.5rem;
      font-size: medium;
    }
  }
}