<app-product-search
  (onFilterProducts)="fetchProducts($event)"
></app-product-search>
<div *ngFor="let product of products" class="products">
  <div class="product">
    <div class="product__left">
      {{ product.name }}
    </div>
    <div class="product__right">
      <button routerLink="/product/{{product.id}}">View Details</button>
    </div>
  </div>
</div>
<div class="add-product-wrap">
  <button
    routerLink="/product/create"
    class="add-product__button"
  >
    Add Product
  </button>
</div>
